
extends ../layout

block content
  != messages()
  h2.page-header 文字列表

  form#form-post-filter.form.form-inline.form-filter
    div.form-group
        label 分类
        select#js-category.form-control(name="category")
          option(value="", selected=(filter.category === "")) - 选择分类 -
          each category in categories
            option(value=category._id, selected=(category._id.toString() ===
            filter.category))= category.name
    div.form-group
      label 作者
      select#js-author.form-control(name="author")
        option(value="", selected=(filter.author === "")) - 选择作者 -
        each author in authors
          option(value=author._id, selected=(author._id.toString() ===
          filter.author))= author.name
    button#js-filter-submit.btn.btn-info 筛选

  table.table.table-bordered
    thead
      tr
        th(width="30%")
          if sortby === 'title'
            if sortDir === 'desc'
              a(href="/admin/posts/?page=" + pageNum + "&sortby=title&sortdir=asc"   +"&category=" + filter.category + "&author=" + filter.author)
                i.glyphicon.glyphicon-arrow-down 标题

            else
              a(href="/admin/posts/?page=" + pageNum + "&sortby=title&sortdir=desc" +"&category=" + filter.category + "&author=" + filter.author)
                i.glyphicon.glyphicon-arrow-up 标题
          else
              a(href="/admin/posts/?page=" + pageNum + "&sortby=title&sortdir=desc" +"&category=" + filter.category + "&author=" + filter.author) 标题

        th 分类

        th 作者
        th 评论数
        th
          if sortby === 'created'
            if sortDir === 'desc'
              a(href="/admin/posts/?page=" + pageNum + "&sortby=created&sortdir=asc" +"&category=" + filter.category + "&author=" + filter.author)
                i.glyphicon.glyphicon-arrow-down 添加时间

            else
              a(href="/admin/posts/?page=" + pageNum + "&sortby=created&sortdir=desc" +"&category=" + filter.category + "&author=" + filter.author)
                i.glyphicon.glyphicon-arrow-up 添加时间
          else
              a(href="/admin/posts/?page=" + pageNum + "&sortby=created&sortdir=desc" +"&category=" + filter.category + "&author=" + filter.author)添加时间

        th 被赞
        th 状态
        th 管理
    tbody
    each post in posts
      tr
        td
          a(href="/posts/view/" + post.slug, target="__blank")=post.title
        td
          a(href='/posts/category/' + post.category.name)=post.category.name
        td= post.author.name
        td= post.comments.length || 0
        td= moment(post.created).format('YYYY-MM-DD')
        td= post.meta.favorite || 0
        td= post.published ? '已发布' : '待发布'
        td
          a(href="/posts/view/" + post.slug, target="__blank" class="btn btn-sm btn-success") 查看
          &nbsp;&nbsp;
          a(href="/admin/posts/edit/" + post._id, target="__blank" class="btn btn-sm btn-info") 编辑
          &nbsp;&nbsp;
          a(href="/admin/posts/delete/" + post._id, target="__blank" class="btn btn-sm btn-danger") 删除



  if pageCount > 1
    nav
      ul.pagination
        - var currentPage = 1
        while currentPage < pageCount
          if (currentPage === pageNum)
            li.active
              a(href="/admin/posts?page=" + currentPage + "&sortby=" + sortby+ "&sortdir=" + sortDir + "&category=" + filter.category + "&author=" + filter.author)= currentPage++
          else
            li
              a(href="/admin/posts?page=" + currentPage + "&sortby=" + sortby+ "&sortdir=" + sortDir + "&category=" + filter.category + "&author=" + filter.author)= currentPage++

block scripts
  script(src="/js/querystring.js")
  script(src="/js/admin/admin.js")
